.active {
  width: 944px;
  height: 350px;
  display: flex;
}

.dark .home {
  box-shadow: 0px 0px 57px -14px rgba(255, 255, 255, 0.75);
}

.asideContainer {
  position: relative;
  display: block;
}

@media screen and (width <= 770px) {
  .active {
    width: 668px;
    height: 100%;
  }
}
@media screen and (width <= 426px) {
  .active {
    width: 320px;
    height: 670px;
  }
}
