.experienceSection {
  border-radius: 10px;
  box-shadow: 0px 0px 57px -14px rgba(0, 0, 0, 0.75);
  padding: 10px 15px;
}
.dark .experienceSection {
  box-shadow: 0px 0px 57px -14px rgba(255, 255, 255, 0.75);
}
.experienceSection img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  overflow: hidden;
  background-color: var(--eri-color-background-primary);
}

.experienceSection article {
  position: relative;
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.experienceSection .experienceData {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.experienceSection h3 {
  margin-top: -5px;
}

@media screen and (width <= 600px) {
  .experienceSection article {
    justify-content: center;
    margin: 1rem;
  }
}
