footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  z-index: 10;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-color: var(--eri-color-background-secondary);
  border-radius: 10px;
  padding: 0 10px;
}
.dark .footerContainer {
  background-color: var(--eri-color-background-quaternary);
}
